In [4]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_country_df(country):
    def make_condition_df(condition):
        df = pd.read_csv(f"data/time_series_{condition}.csv")
        df = df.loc[df["Country/Region"] == country]
        df = df.drop(columns=["Province/State", "Country/Region", "Lat", "Long"]).sum()
        df = df.reset_index(name=condition).rename(columns={"index": "date"})
        return df

    final_df = None
    for condition in conditions:
        condition_df = make_condition_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
            final_df = final_df.merge(condition_df)
    return final_df

df = make_country_df("Korea, South")
df

        date  confirmed  deaths  recovered
0    1/22/20          1       0          0
1    1/23/20          1       0          0
2    1/24/20          2       0          0
3    1/25/20          2       0          0
4    1/26/20          3       0          0
..       ...        ...     ...        ...
814  4/15/22   16212751   20889          0
815  4/16/22   16305752   21092          0
816  4/17/22   16353495   21224          0
817  4/18/22   16471940   21354          0
818  4/19/22   16583220   21520          0

[819 rows x 4 columns]