In [117]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_country_df(country):
    def make_condition_df(condition):
        df = pd.read_csv(f"data/time_series_{condition}.csv")
        df = df.loc[df["Country/Region"] == country]
        df = df.drop(columns=["Province/State", "Country/Region", "Lat", "Long"]).sum()
        df = df.reset_index(name=condition).rename(columns={"index": "date"})
        return df

    fianl_df = None
    for condition in conditions:
        condition_df = make_condition_df(condition)
        if fianl_df is None:
            fianl_df = condition_df
        else:
            fianl_df = fianl_df.merge(condition_df)
    return final_df

df = make_country_df("Korea, South")
df

        date  confirmed   deaths  recovered
0    1/22/20        557       17         30
1    1/23/20        657       18         32
2    1/24/20        944       26         39
3    1/25/20       1437       42         42
4    1/26/20       2120       56         56
..       ...        ...      ...        ...
814  4/15/22  503611004  6195670          0
815  4/16/22  504163314  6197182          0
816  4/17/22  504585172  6198487          0
817  4/18/22  505054564  6199914          0
818  4/19/22  505971607  6203293          0

[819 rows x 4 columns]