In [83]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_global_df(condition):
    df = pd.read_csv(f"data/time_series_{condition}.csv")
    df = df.drop(columns=["Province/State", "Country/Region", "Lat", "Long"])
    df = df.iloc[:, :561]
    df = df.sum().reset_index(name=condition)
    df = df.rename(columns={"index": "date"})
    return df

final_df = None

for condition in conditions:
    condition_df = make_global_df(condition)
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)
final_df

        date  confirmed   deaths  recovered
0    1/22/20        557       17         30
1    1/23/20        657       18         32
2    1/24/20        944       26         39
3    1/25/20       1437       42         42
4    1/26/20       2120       56         56
..       ...        ...      ...        ...
556  7/31/21  198391433  4217440  129705211
557   8/1/21  198875611  4224807  129994389
558   8/2/21  199443106  4232852  130277533
559   8/3/21  200077627  4243256  130582001
560   8/4/21  200757963  4253756  130899061

[561 rows x 4 columns]